@import './variables.scss';

.filter-container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  .title-box {
    text-align: center;
    .filter-title {
      font-size: 1.2rem;
      color: $color-white;
    }
    .sub-describe {
      font-size: 0.7rem;
      font-weight: 300;
      color: $color-gray;
    }
  }
  .filter-btn-list {
    height: 100%;
    display: flex;
    gap: 1rem;
    margin-left: 1rem;

    .filter-btn {
      background-color: transparent;
      font-size: 1rem;
      color: $color-white;
      border-radius: 0.2rem;
    }
    .active {
      background-color: $color-white;
      color: $color-black;
    }
  }
}
