@import './styles/variables.scss';

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-black;

  .error-title {
    color: $color-white;
    font-weight: 700;
    font-size: 1.6rem;
  }
}
